.box-become-partner {
  display: flex;
  &__btn {
    padding: 21px 24px;
    background-color: var(--link-catalog-hover);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    color: var(--color-white);
    transition: background-color 0.4s ease-in-out;
    &:focus,&:focus-visible {
      outline: none;
    }
    &:focus-visible,&:hover,&:active {
      background-color: var(--link-catalog);
    }
  }
}

@media (max-width: 825px) {
  .box-become-partner {
    &__btn {
      padding: 15px;
      font-size: 14px;
    }
  }
}

@media (max-width: 560px) {
  .box-become-partner {
    &__btn {
      padding: 10px;
      font-size: 12px;
    }
  }
}