.box-partner {
  &__content {
    min-height: 490px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    background-image: url(../img/box-partner/background/1.png);
    background-repeat: no-repeat;
    background-position: top right;
  }
  &__left {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 300px;
  }
  &__desc {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: var(--color-gray);
  }
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: 1024px) {
  .box-partner {
    &__list {
      gap: 30px;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

@media (max-width: 825px) {
  .box-partner {
    &__content {
      min-height: 400px;
      background-image: none;
    }
    &__desc {
      font-size: 14px;
    }
    &__left {
      gap: 30px;
      min-height: 240px;
    }
    &__list {
      gap: 15px;
      img {
        max-width: 80px;
      }
    }
  }
}

@media (max-width: 560px) {
  .box-partner {
    &__left {
      min-height: 180px;
    }
    &__content {
      min-height: 300px;
    }
    &__list {
      gap: 7px;
      img {
        width: 50px;
      }
    }
  }
}