.box-certificates {
  &__title {
    margin-bottom: 0;
  }
  &__title-line {
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
  }
  &__slider-box {
    margin: 0 -10px;
  }
  .box-news__link-all {
    display: none;
  }
}