.box-manufacturers {
  &__container {
    margin: 0 -5px;
  }

  &__slider {
    .slick-track {
      gap: 0 !important;
    }
  }

  &__slide {
    padding: 0 5px;
    position: relative;
    box-sizing: border-box;

    &-link {
      position: absolute;
      inset: 0 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--line-top-color);

      &:focus,
      &:focus-visible {
        outline: none;
      }
    }

    &::before {
      content: "";
      display: block;
      padding-top: 50%;
    }
  }

  /*.slick-next:before, .slick-prev:before {
      width: 48px !important;
      height: 48px !important;
      background-position: center;
      background-color: var(--color-white);
      border-radius: 100%;
      background-size: 24px 24px;
      bottom: -14px;
      box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.08);
    }
    .slick-next{
      right: 24px;
    }
    .slick-next:before {
      background-image: url(../img/arrow-right.svg);
    }
    .slick-prev {
      left: 24px;
    }
    .slick-prev:before {
      background-image: url(../img/arrow-left.svg);
    }*/
  .slick-next:before,
  .slick-prev:before {
    width: 40px !important;
    height: 40px !important;
    background-size: 40px 40px;
    bottom: -10px;
  }

  .slick-next {
    right: -10px;
  }

  .slick-prev {
    left: -10px;
  }

  .slick-disabled {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

@media (max-width: 1024px) {
  .box-manufacturers {
    /*.slick-next {
      right: 10px;
    }

    .slick-prev {
      left: 10px;
    }

    .slick-next:before,
    .slick-prev:before {
      width: 35px !important;
      height: 35px !important;
      bottom: -8px;
      background-size: 20px 20px;
    }*/

    .slick-next:before,
    .slick-prev:before {
      width: 29px !important;
      height: 29px !important;
      bottom: -5px;
      background-size: 29px 29px;
    }

    .slick-next {
      right: -10px;

      &::before {
        right: 0;
      }
    }

    .slick-prev {
      left: -10px;

      &::before {
        left: 0;
      }
    }
  }
}