.box-popular {
  &__content-wrapper {
    padding: 0;
    padding-bottom: 15px;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      height: 5px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--line-top-color);
      border-radius: 100px;
    }

  }

  &__list {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 13px;

    li {
      min-width: 130px;
      height: 130px;

      &.link-catalog {
        a {
          padding: 10px 20px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          color: var(--color-white);
          background-color: var(--link-catalog);
          gap: 7px;

          .text {
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 12px;
            line-height: 108%;
            color: var(--color-white);
          }

          &:focus-visible,
          &:hover,
          &:active {
            background-color: var(--link-catalog-hover);
          }
        }
      }

      a {
        position: relative;
        overflow: hidden;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 4px;
        height: 100%;
        width: 100%;
        background-color: var(--line-top-color);
        transition: background-color 0.4s ease-in-out;

        &:focus,
        &:focus-visible {
          outline: none;
        }

        &:focus-visible,
        &:hover,
        &:active {
          background-color: var(--border-search);
        }

        .title {
          position: relative;
          z-index: 1;
          font-family: var(--font-family);
          font-weight: 500;
          font-size: 12px;
          line-height: 1.1 !important;
          letter-spacing: -0.03em;
          color: var(--black-color);
          transition: color 0.4s ease-in-out;
        }

        .number {
          font-family: var(--font-family);
          font-weight: 500;
          font-size: 10px;
          color: rgba(0, 0, 0, 0.4);
        }

        img {
          position: absolute;
          z-index: 0;
          bottom: 6px;
          right: 10px;
        }
      }
    }
  }
}

@-moz-document url-prefix() {
  .box-popular__content-wrapper {
    scrollbar-width: thin;
    scrollbar-color: var(--line-top-color) transparent;
  }
}


@media (max-width: 1024px) {
  .box-popular {
    &__list {
      li {
        a {
          img {
            max-width: 80px;
          }
        }

        &.link-catalog {
          a {}
        }
      }
    }
  }
}

@media (max-width: 825px) {
  .box-popular {
    &__list {
      gap: 7px;
    }

    li {
      min-width: 105px;
      height: 100px;

      a {
        padding: 7px;
        .title {
          font-size: 10px;
        }
        .number {
          font-size: 9px;
        }
        img {
          max-height: 40px;
        }
      }

      &.link-catalog {
        a {
          padding: 10px;
          .text {
            font-size: 10px;
          }
        }
      }
    }
  }
}