.box-reviews {
  &__top-line {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
  }
  &__title {
    margin-bottom: 0;
    max-width: 320px;
  }
  &__group-link {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 4px 0;
    li {
      display: flex;
      height: 100%;
    }
  }
  &__link {
    padding: 12px 52px 12px 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    background-image: url(../img/box-news/arrow-up.svg);
    background-repeat: no-repeat;
    background-position: center right 16px;
    background-color: var(--color-white);
    transition: background-color 0.4s ease-in-out;
    .box-top {
      display: flex;
      gap: 4px;
      align-items: center;
      .img {
        width: 22px;
        height: 23px;
        min-width: 22px;
        border-radius: 100%;
      }
      .text {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: -0.03em;
        color: var(--color-link);
      }
      .svg {
        padding: 0 4px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .box-bottom {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 14px;
      color: var(--color-link);
    }
    &:focus,&:focus-visible {
      outline: none;
    }
    &:focus-visible,&:hover,&:active {
      background-color: var(--color-body);
    }
  }
}

@media (max-width: 825px) {
  .box-reviews {
    &__top-line {
      margin-bottom: 20px;
      flex-direction: column;
    }
  }
}