.box-question-answer {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
  .box-left {
    max-width: 330px;
    &__desc {
      margin-bottom: 30px;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 16px;
      color: var(--color-gray);
    }
  }
  .box-right {
    width: calc(820 / 1280 * 100%);
  }
}

@media (max-width: 1024px) {
  .box-question-answer {
    &__wrapper {
      gap: 15px;
      flex-direction: column;
    }
    .box-left {
      max-width: 100%;
      &__desc {
        margin-bottom: 20px;
        font-size: 14px;
      }
    }
    .box-right {
      width: 100%;
    }
  }
}
