.box-banner-counter {
  background-color: var(--color-link);
  &__wpapper {
    padding-top: 80px;
    padding-bottom: 127px;
    margin: 0 auto;
    max-width: 1440px;
    background-image: url("../img/banner-counter/1.png"), url("../img/banner-counter/2.png");
    background-repeat: no-repeat, no-repeat;
    background-position: center right, bottom left;
    background-size: contain, 70%;
  }
  &__title {
    max-width: 620px;
    color: var(--color-white);
  }
  &__box-desc {
    margin-bottom: 54px;
    max-width: 620px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-white);
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: clamp(5px, 2vw, 54px);
  }
}