.box-call {
  display: flex;

  &__btn {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 81%;
    color: var(--link-catalog);
    transition: color 0.4s ease-in-out;
    &:focus,&:focus-visible {
      outline: none;
    }
    &:focus-visible,&:hover,&:active {
      color: #000;
    }

    &.active {
      & + .box-call__modal-wrapper {
        display: flex;
      }
    }
  }
}

@media (max-width: 825px) {
  .box-call {
    &__btn {
      font-size: 14px;
    }
  }
}