.slider-three-card {
  &.slider-loading {
    position: absolute;
    opacity: 0;
    height: 0;
    overflow: hidden;
  }
  //padding-right: 12px;

  .slick-track {
    gap: 0px !important;
  }

  &__slide {
    padding: 0 10px;
    height: auto;
  }

  /*.slick-next:before,
  .slick-prev:before {
    width: 48px !important;
    height: 48px !important;
    background-position: center;
    background-color: var(--color-white);
    border-radius: 100%;
    background-size: 24px 24px;
    bottom: -14px;
    box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.08);
  }

  .slick-next {
    right: 0;
    top: 35%;
    transform: translate(0);
  }

  .slick-next:before {
    right: 0;
    background-image: url(../img/arrow-right.svg);
  }

  .slick-prev {
    left: auto;
    right: 0;
    top: auto;
    bottom: 35%;
    transform: translate(0);
  }

  .slick-prev:before {
    right: 0;
    background-image: url(../img/arrow-left.svg);
  }

  .slick-disabled {
    opacity: 0.5;
    pointer-events: none;
  }*/

  .slick-next:before,
  .slick-prev:before {
    width: 40px !important;
    height: 40px !important;
    background-size: 40px 40px;
    bottom: -10px;
  }

  .slick-next {
    right: -5px;
  }

  .slick-prev {
    left: -5px;
  }

  .slick-disabled {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

@media (max-width: 1024px) {
  .slider-three-card {

    /*.slick-next:before,
    .slick-prev:before {
      width: 35px !important;
      height: 35px !important;
      bottom: -8px;
      background-size: 20px 20px;
    }

    .slick-prev:before {
      left: auto;
    }*/

    .slick-next:before,
    .slick-prev:before {
      width: 29px !important;
      height: 29px !important;
      bottom: -5px;
      background-size: 29px 29px;
    }

    .slick-next {
      right: -5px;

      &::before {
        right: 0;
      }
    }

    .slick-prev {
      left: -5px;

      &::before {
        left: 0;
      }
    }
  }

}