.btn-catalog {
  padding: 13px 17px;
  background-color: var(--link-catalog);
  display: flex;
  align-items: center;
  gap: 11px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 93%;
  color: #fff;
  &:focus,&:focus-visible {
    outline: none;
  }
  &:hover,&:focus-visible {
    background-color: var(--link-catalog-hover);
  }
}