.link-for {
  display: flex;
  align-items: center;
  gap: 6px;
  border-radius: 90px;
  .text {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 93%;
    color: var(--black-color);
    white-space: nowrap;
    transition: color 0.4s ease-in-out;
  }
  &:focus,&:focus-visible {
    outline: none;
  }
  &:focus-visible,&:hover,&:active {
    .text {
      color: var(--link-catalog-hover);
    }
  }
}