.link-last-nav {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 93%;
  color: var(--black-color);
  transition: color 0.4s ease-in-out;
  &:focus,&:focus-visible {
    outline: none;
  }
  &:focus-visible,&:hover,&:active {
    color: var(--link-catalog-hover);
  }
}