<div class="card-product">
  <div class="card-product__top">
    <div class="box-img">
      <a href="#" class="box-img__link">
        <img class="img" src="img/card-product/1.jpg" alt="img">
      </a>
      <div class="marker-group">
        <span>Скидка</span>
        <span>Новинка</span>
        <span>Хит</span>
      </div>
      <div class="btn-item-group">
        <a href="#" class="btn-item-group__like">
          <svg width="22" height="20" viewBox="0 0 22 20" fill="none">
            <use xlink:href="img/sprite.svg#like"></use>
          </svg>
        </a>
        <label class="btn-item-group__compare">
          <input class="btn-item-group__compare-input" type="checkbox">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
            <use xlink:href="img/sprite.svg#compare"></use>
          </svg>
        </label>
      </div>
    </div>

    <div class="card-product__wrapper-name">
      <h3 class="card-product__title">
        <a href="#">
          "УЖ" водозаборный фильтр со встроенным обратным клапан клапан клапан клапан клапан клапан клапан
        </a>
      </h3>
      <p>Арт. <span>9807</span></p>
      <p>В наличии <span>160</span> шт</p>
    </div>

    <div class="card-product__wrapper-type">
      <p>Бренд:<span>АДЛ</span></p>
      <p>Тип:<span>L-образный</span></p>
    </div>

  </div>
  <div class="card-product__bottom">
    <div class="left-info">
      <p>Доставка 2-3 дня</p>
      <div class="box-price-sale">
        <span class="top-price">
          <span class="discount">– 20%</span>
          <span class="old">591 ₽</span>
        </span>
        <span class="price">
          591 ₽
        </span>
      </div>
    </div>
    <div class="right-info">
      <a href="#" class="link-basket">
        <span class="svg">
          <svg width="17" height="16" viewBox="0 0 17 16" fill="none">
            <use xlink:href="img/sprite.svg#linkBasket"></use>
          </svg>
        </span>
        <span class="text">В корзину</span>
      </a>
    </div>
    <!--<div class="btn-item-group">
        <a href="#" class="btn-item-group__like">
          <svg width="22" height="20" viewBox="0 0 22 20" fill="none">
            <use xlink:href="img/sprite.svg#like"></use>
          </svg>
        </a>
        <label class="btn-item-group__compare">
          <input class="btn-item-group__compare-input" type="checkbox">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
            <use xlink:href="img/sprite.svg#compare"></use>
          </svg>
        </label>
      </div>-->
  </div>
</div>