<div class="card-reviews">
  <div class="card-reviews__top">
    <div class="personal-info">
      <div class="false-img">
        <span></span>
      </div>
      <!--<img class="img" src="img/box-news/cards/1.jpg" alt="img">-->
      <div class="left">
        <h3 class="name-title">Георг Жилин</h3>
        <p class="data-time">
          <time datetime="2025.01.10">10 января 2025</time>
        </p>
        @@include('./box-star.html')
      </div>
    </div>
    <p class="card-reviews__desc">
      Ребята молодцы, выручили!!! Сроки горели, труба нужна была кровь из носу на объекте - сработали максимально оперативно. Днем оформлял заказ, а утром машина уже была у нас на месте. Просто браво!
    </p>
  </div>
  <div class="card-reviews__bottom">
    <a href="#" class="card-reviews__link">
      <img class="img" src="img/box-reviews/g.png" alt="icon">
      <span>Оригинал отзыва</span>
    </a>
  </div>
</div>