<div class="card-certificate">
  <a class="card-certificate__link" data-fslightbox="gallery" href="img/box-certificates/1.jpg">
    <span class="card-certificate__box-img">
      <img src="img/box-certificates/1.jpg" alt="img">
    </span>
    <span class="box-info">
      <span class="top">
        <span class="title">
          sddfsdfsdf dfsd
        </span>
        <span class="desc">
          sdfsdf sdfsdf sdfsdf sdfsdf oknvenv sdfoknsdof onfoodnwef ondsfssfnn ponpodf wwdfpsdf ppef oksdsdf dfonnwfow
          sdonsdfon dveofvne sdvonddvon ondvon sdvsd
        </span>
      </span>
      <span class="time">
        <time datetime="12.12.2025">12.12.2025</time>
      </span>
    </span>
  </a>
</div>