<div class="card-recommends">
  <a class="card-recommends__main-link" href="#"></a>
  <div class="card-recommends__wrapper">
    <div class="card-recommends__card-front">
      <div class="card-recommends__top">
        <span class="marker">@@marker</span>
      </div>
      <div class="card-recommends__group">
        <h3>@@title</h3>
        <p>@@desc</p>
      </div>
      <p class="card-recommends__time">
        <time datetime="@@time">@@time</time>
      </p>
      <img src="@@urlImg" alt="@@title">
    </div>
    <div class="card-recommends__card-back">
      <h3>@@title</h3>
      <p>@@mainDesc</p>
    </div>
  </div>
</div>