<div class="drop-down-2">
  <label class="drop-down-2__label" for="appointment">Назначение</label>
  <input class="drop-down-2__input" type="text" name="appointment" id="appointment" value="Бытовое">
  <button class="drop-down-2__btn">
    <svg width="25" height="24" viewBox="0 0 25 24" fill="none">
      <use xlink:href="img/sprite.svg#dropDown2"></use>
    </svg>
  </button>
  <ul class="drop-down-2__list">
    <li>Бытовое</li>
    <li>dfdfdfdffd</li>
    <li>sdjb</li>
    <li>оборудование</li>
  </ul>
</div>