<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@@title</title>
    <!-- Google tag (gtag.js) -->


    <link href="css/slick.min.css" rel="stylesheet">
    <link href="css/select2.min.css" rel="stylesheet">
    <link href="js/ionrange/ion.rangeSlider.min.css" rel="stylesheet">
    <link href="js/slick/slick.css" rel="stylesheet">
    <link href="js/slick/slick-theme.css" rel="stylesheet">

    <!--<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>-->
    <!--<link href="https://fonts.googleapis.com/css2?family=Jost:wght@100;900&amp;family=Manrope:wght@400;600;700;800&amp;display=swap" rel="stylesheet">-->



    <!--<link href="css/_cdn/styles.css" rel="stylesheet">-->
    <link href="css/styles.css" rel="stylesheet">

    <link href="css/catalog_style.css" rel="stylesheet">

    <link href="css/style.min.css" rel="stylesheet">


    <!--<link href="css/lk_manager_styles.css" rel="stylesheet">-->
    <!--<link href="css/_cdn/select2_checkbox.min.css" rel="stylesheet">-->


    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MJ65H6JDZN"></script>
    <script>
        window.addEventListener('load', function () {
            document.body.classList.remove('loading');
            document.getElementById('preloader').style.display = 'none';
        });
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-MJ65H6JDZN');
    </script>
    <!-- Google tag (gtag.js) -->


    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-T9B68BJQ');
    </script>
    <!-- End Google Tag Manager -->

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () {
                (m[i].a = m[i].a || []).push(arguments)
            };
            m[i].l = 1 * new Date();
            for (var j = 0; j < document.scripts.length; j++) {
                if (document.scripts[j].src === r) {
                    return;
                }
            }
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(
                k, a)
        })
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(93753478, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true,
            ecommerce: "dataLayer"
        });
    </script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>

    <script src="js/slick.min.js" defer></script>
    <script type="module" src="js/fslightbox-min.js"></script>
    <script type="module" src="js/cleave-min.js"></script>
    <script type="module" src="js/mainNew-min.js"></script>
    <noscript>
        <img src="https://mc.yandex.ru/watch/93753478" style="position:absolute; left:-9999px;" alt="" />
    </noscript>
    <!-- /Yandex.Metrika counter -->

    <!-- Вебмастер и Консоль -->
    <meta name="yandex-verification" content="e5a128d1b48e3352" />
    <meta name="google-site-verification" content="gkZF596RCqmzOyWxe2mbCQArxqm6_wX15WeolkwgmJ8" />
    <!-- /Вебмастер и Консоль -->

</head>